<% provide(:title, 'All users') %> 
<h1>All users</h1>

<!--分页-->
<%= will_paginate %>

  <ul class="users">
    <%# @users.each do |user| %>
      <!--<li>
        <#%= gravatar_for user, size: 50 %>
        <#%= link_to user.name, user %> 
      </li>-->
      <!--render 的参数不再是指定局部视图的字符串，而是代表 User 类的变量 user-->
      <%#= render user %>
      <%= render @users %>
    <%# end %> 
  </ul>
  
<%= will_paginate %>